{% extends "couchlog/base.html" %}
{% block page_stylesheets %}
    {% include "couchlog/imports/blueprint.html" %}
    <link rel="stylesheet" href="{{MEDIA_URL}}couchlog/stylesheets/couchlog.css" type="text/css">
{% endblock %}
{% block javascripts %}
    {% include "couchlog/imports/jquery.html" %}
    {% include "couchlog/imports/jquery-ui.html" %}
    {% include "couchlog/imports/jqmodal.html" %}
    {% include "couchlog/imports/datatables.html" %}
{% endblock %}
{% block page_javascripts %}
    <script type="text/javascript">
    // datatable configuration.
    $(document).ready(function() {
        filter = true;
        not_sortable = [0,1,3,4,5,6,7];
        sortable = [2];
        $('.datatable').dataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bFilter": filter,
            "bJQueryUI": true, 
            "sAjaxSource": "{% url couchlog_paging %}",
            "aaSorting": [[ 2, "desc" ]],
            "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
	            // annotate row with id
	            $(nRow).attr("id", aData[0]);
	            
	            // annotate row with class
	            if (aData[1] == "true") {
	               $(nRow).addClass("archived");
	            } else {
	               $(nRow).addClass("inbox");
	            }
	            
	            // remove added odd/even styles.  they mess with our custom classes
	            // eh, this isn't so bad actually
	            // $(nRow).removeClass("odd even");
	            return nRow;
	        },
	        "fnServerData": function ( sSource, aoData, fnCallback ) {
	            // add data to the post
	            
	            // are we in the inbox or all view
	            aoData.push( { "name": "show", "value": "{{ show }}" } );
	            
	            // previous startkey, endkeys if any.
	            // currently unused but may one day be necessary for paging                   
                aoData.push( { "name": "startkey", "value": $("#startkey").val() } );
	            aoData.push( { "name": "endkey", "value": $("#endkey").val() } );
                
	            $.getJSON( sSource, aoData, function(json) {
                   // set startkey and endkey in their appropriate divs, these are
                   // currently unused but may one day be necessary for paging	               
	               $("#startkey").val(JSON.stringify(json.startkey));
	               $("#endkey").val(JSON.stringify(json.endkey));
	               fnCallback(json);
	            });
            },
            "aoColumnDefs": [ 
		            {
		                "fnRender": function ( oObj ) {
		                    if (!oObj.aData[4]) {
		                        display = "UNKNOWN ERROR";
		                    } else {
		                        display = oObj.aData[4];
		                    }
		                    return '<a href="/couchlog/ajax/single/' + oObj.aData[0] + '" onclick="$(\'#modal-placeholder\').jqmShow($(this)); return false;"  class="logview">' + display +'</a>';
		                },
		                "aTargets": [ 4 ]
		            }, 
		            {
                        "fnRender": function ( oObj ) {
                            return '<a href="#" class="emaillink">report error</a>';
                        },
                        "aTargets": [ 7 ]
                    }, 
                    {
                        "fnRender": function ( oObj ) {
                            is_archived = oObj.aData[1] == "false";
                            del_html = '<input type="button" class="updatebutton" action_type="delete" value="delete" />';
                            if (is_archived) {
                                arch_html = '<input type="button" class="updatebutton" action_type="archive" value="archive" />';
                            } else {
                                arch_html = '<input type="button" class="updatebutton" action_type="move_to_inbox" value="move to inbox" />';
                            }
                            return arch_html + del_html;
                        },
                        "aTargets": [ 6 ]
                    }, 
                    { "bVisible": false,  "aTargets": [ 0, 1 ] },
		            { "bSortable": false, "aTargets": not_sortable}
		            //{ "bSortable": true, "aTargets": sortable}, 
                    //{ "sWidth": "40px", "aTargets": [ 6, 7 ] }		            
	        ]
        });
    } );
    </script>
    <script type="text/javascript">
        // this script is for doing the archiving/inbox moving
        $(".updatebutton").live("click", 
        function () {
            button = $(this);
            id = button.parent().parent().attr("id");
            jQuery.post("{% url couchlog_update %}", { "id": id, "action": button.attr("action_type")},
            function(data){
                json_res = JSON.parse(data);
                row_elem = $($("#" + json_res.id)[0]);
                if (button.attr("action_type") == "delete") {
                    row_elem.fadeOut(100);
                }
                else {
                {% ifequal show "inbox" %}
                // if we're showing the inbox just hide the row with a pretty effect
                row_elem.fadeOut(100);
                {% else %}
                // if we're in the "all" view then update the classes and text
                row_elem.removeClass("archived inbox").addClass(json_res.style_class);
                button_elem = $(row_elem.find(".updatebutton")[0]);
                button_elem.val(json_res.text);
                button_elem.attr("action_type", json_res.next_action);
                {% endifequal %}
                }
            }); 
        });
        
    </script>
    <script type="text/javascript">
        // this script is for "archive all"
        $("#archive_all").live("click", 
        function () {
            input = $($($(".dataTables_filter")[0]).find("input")[0]);
            search_query = input.val();
            if (search_query) { 
                var sure = confirm("Really archive everything matching '" + search_query + "'?  This is NOT an undoable operation!");
                if (sure) {
                    // actually archive
                    submit_redirect({op: "bulk_archive", query: search_query});
                }
            } else {
                alert("Sorry, you can't archive EVERYTHING. To archive in bulk, first perform a search.");  
            }
        });
        // and "delete all"
        $("#delete_all").live("click", 
        function () {
            input = $($($(".dataTables_filter")[0]).find("input")[0]);
            search_query = input.val();
            if (search_query) { 
                var sure = confirm("Really delete everything matching '" + search_query + "'?  This is NOT an undoable operation!");
                if (sure) {
                    // actually archive
                    submit_redirect({op: "bulk_delete", query: search_query});
                }
            } else {
                alert("Sorry, you can't delete EVERYTHING. To delete in bulk, first perform a search.");  
            }
        });
    </script>
    <script type="text/javascript">
    $(function() {
        var email = $("#email");
        var notes = $("#notes");
        
        $("#email-form").dialog({
            autoOpen: false,
            resizable: false,
            height: 520,
            width: 500,
            modal: true,
            buttons: {
                'Send report': function() {
                    id = $("#log_holder").val();
                    jQuery.post("{% url couchlog_email %}", { "id": id,
                                                      "to": $("#email").val(),
                                                      "notes": $("#notes").val()},
			            function(data){
			                json_res = JSON.parse(data);
			                row = $($("#" + json_res.id)[0]);
			                button_elem = $(row.find(".emaillink")[0]);
			                if (json_res.success) {
			                    button_elem.text("sent!");
			                    button_elem.removeClass("notice");
                                button_elem.addClass("success");
			                    button_elem.click(function() { alert("Message was sent."); return false; } );
			                } else {
			                    button_elem.text("failed!");
			                    button_elem.removeClass("notice");
                                button_elem.addClass("error");
                                button_elem.click(function() { alert("Error was: " + json_res.message); return false;} );
			                }
			            });
                    $(this).dialog('close');
                    row = $($("#" + id)[0]);
                    button_elem = $(row.find(".emaillink")[0]);
                    button_elem.addClass("notice");
                    button_elem.text("sending...");
                },
                Cancel: function() {
                    $(this).dialog('close');
                }
            },
        });
        
        $(".emaillink").live("click", 
            function() {
                    id = $(this).parent().parent().attr("id");
                    $('#notes').val('');
                    $("#log_holder").val(id);
                    $('#email-form').dialog('open');
                    $('#notes').focus();
                });
    });
    </script>
    <script type="text/javascript">
    // this one allows the log viewer to pop up
    $().ready(function() {
        $('#modal-placeholder').jqm({ajax: '@href', trigger: 'a.logview', 
                                     ajaxText: "Please wait while we load that for you..." });
    });
    </script>
{% endblock %}
{% block content %}
{% if lucene_enabled %}
    <p class="notice">Advanced search is enabled!  For documentation on how to do advanced searches, 
    <a href="{% url lucene_docs %}">click here</a>.</p>
{% endif %}
<h3>Exception Records</h3>
<ul class="tabs">
    <li>Show:</li> 
    <li {% ifequal show "inbox" %}class="active"{% endifequal %}><a href="?show=inbox">Inbox</a></li>
    <li {% ifequal show "all" %}class="active"{% endifequal %}><a href="?show=all">All</a></li>
</ul>
<div>
<input id="archive_all" type="button" action_type="archive" value="Archive all" style="float:right;"/>
<input id="delete_all" type="button" action_type="delete" value="Delete all" style="float:right; margin-right:5px;"/>
</div> 

{% if count %}

<br></br>
<table class="datatable" style="float:left;">
<thead>
    <tr>
        <th>id</th>
        <th>archived?</th>
	    <th>date</th>
	    <th>type</th>
	    <th>message</th>
	    <!-- <th>stack_trace</th>  -->
	    <th>url</th>
	    <!-- <th>query params</th> -->
	    <th></th>
        <th></th>
    </tr>
</thead>
<tbody>
</tbody>
</table>
<div class="jqmWindow" id="modal-placeholder"></div>
<input type="hidden" id="startkey" value="{{startkey}}"></input>
<input type="hidden" id="endkey" value="{{endkey}}"></input>
<div id="email-form" title="Report error">
    <form>
    <fieldset>
        <input type="hidden" value="not_set" id="log_holder"></input>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="{{ support_email }}" class="text" />
        <br></br>
        <label for="notes">Additional Notes</label>
        <textarea id="notes" value=""></textarea>
    </fieldset>
    </form>
</div>
{% else %}
<br></br>
<h3 style="padding-top:50px; ">Hooray! Nothing bad to see here.</h3>
{% endif %}
{% endblock %}
