{% extends "couchlog/base.html" %}
{% load i18n %}
{% block page_stylesheets %}
    {% include "couchlog/imports/blueprint.html" %}
<style> 
    .nav a {
        padding-right: 10px;
    }
    #archive_options form {
        position: absolute;
        right: 80px;
        top: -1px;
    }
    #delete form {
        position: absolute;
        right: 0px;
        top: -1px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
<div class="relative">
	<h3>Exception Details</h3>
	<div id="archive_options">
	<form method="post">
	{% if log.archived %}
	    <input type="hidden" name="action" value="move_to_inbox" />
	    <input type="submit" value="Move to Inbox" /> 
	{% else %}
	    <input type="hidden" name="action" value="archive" />
	    <input type="submit" value="Archive" /> 
	{% endif %}
	</form>
</div>
	<div id="delete">
    <form method="post">
        <input type="hidden" name="action" value="delete" />
        <input type="submit" value="Delete"/> 
    </form>
    </div>
</div>
<div align="center">
  <table border="0" style="border: 1px solid black; padding: 10px;">
    <tr><td>Date:&nbsp;&nbsp;</td><td><strong>{{ log.date|date:"d M Y H:i"}}</strong></td></tr>
    <tr><td>Status:&nbsp;&nbsp;</td><td><strong>{{ log.get_status_display }}</strong></td></tr>
    <tr><td>Log level:&nbsp;&nbsp;</td><td><strong>{{ log.level|default:"UNKNOWN" }}</strong></td></tr>
    <tr><td>Message:&nbsp;&nbsp;</td><td><strong>{{ log.message|default:"UNKNOWN ERROR" }}</strong></td></tr>
    <tr><td>Type:&nbsp;&nbsp;</td><td><strong>{{ log.type }}</strong></td></tr>
    <tr><td>Stack Trace:&nbsp;&nbsp;</td><td><strong>{{ log.stack_trace|linebreaksbr }}</strong></td></tr>
    <tr><td>Url:&nbsp;&nbsp;</td><td><strong>{{ log.url|default:"N/A" }}</strong></td></tr>
    <tr><td>Query Params:&nbsp;&nbsp;</td><td><strong>{{ log.query_params|default:"N/A" }}</strong></td></tr>
  </table>
<div class="nav">
    <a href="{% url couchlog_home %}">all couchlog errors</a>
{% if user.is_superuser %}
    <a href="{% url futon log.get_id %}">view in futon</a>
{% endif %}
</div>
</div>
</div>
{% endblock %}
